<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class=" bg-gradient-to-r from-green-900 to-black">0
    <div class="flex h-screen justify-center items-center">
        <div class="text-center">
            <p class="text-8xl text-white font-sans m-auto">Spotify Stats</p>

            <form method='GET' action="/callfrom">
                <button class="hover:bg-gray-700 bg-black text-white font-bold py-2 px-4 rounded-full bg-opacity-50 mt-6" type="submit">
                    Login to Spotify
                </button>
            </form>
        </div>
  </div>
    <footer>
            <p class="text-white"> Created by Aditya Sinha and <a href="https://homes.cs.washington.edu/~adamwang/">Adam Wang</a></p>
    </footer>
</body>