<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{  recent_audio_features }}
</head>

<body>
    <br>
    <input type="string"
    value="bruh emoji"> </input>
    <input type="submit">

</body>
</html>